<!DOCTYPE html> 
<html>
  <head>
    <title>Assessment Taker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="styles/normalize.css" />
    <link rel="stylesheet" type="text/css" href="styles/masterStyles.css" /> 
    <link rel="stylesheet" type="text/css" href="styles/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="styles/assessment_taker.css" />
    <link rel="stylesheet" href="../FontAwesome/css/font-awesome.css">

    <style>
      .pager {
        margin: 20px 0;
      }
    </style>

    <!-- jQuery -->
    <script type="text/javascript" src="js/vendor/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="js/vendor/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/vendor/jquery.ui.touch-punch.min.js"></script>
    <script src="js/vendor/fastclick.min.js" type="text/javascript"></script>    

    <!-- Backbone -->
    <script type="text/javascript" src="js/vendor/underscore-1.4.3.min.js"></script>
    <script type="text/javascript" src="js/vendor/backbone-0.9.2.min.js"></script>

    <!-- _t  -->
    <script type="text/javascript" src="js/tee.min.js"></script>

    <!-- 
    **********************************************************

    UNDERSCORE TEMPLATES used by assessment_tester.html

    **********************************************************
    -->
        
    <script id="ShowQuestionTemplate" type="text/underscore_template">
      <% if (position) { print( t.div(position+'.', {class: "position"}) ); } %>
      <div class="instructions"></div>
      <div class="content"><%= content %></div>
      <div class="responseGroup"></div>
    </script>

    <script id="TakeAssessmentTemplate" type="text/underscore_template">
      <h1>Mobilyze Questionnaire</h1>
      <div class="start"><% start_content ? print(start_content) : null; %></div>
      <div class="question"></div>
      <% if (!no_navigation)  { %>

      <div class="assessment navigation pager">
        <button class="previous">&larr;</button>
        <button class="next">Next &rarr;</button>
      </div>

      <% }; %>
      <div class="end"><% end_content ? print(end_content) : null; %></div>
    </script>

    <!-- Must come before dualstorage due to Sync override! -->
    <script type="text/javascript" src="js/Dynamo/Core.js "></script>
    <script type="text/javascript" src="js/vendor/backbone.dualstorage.CUSTOM.js"></script>
    <script type="text/javascript"> 
      Dynamo.TriremeURL = "https://trireme.northwestern.edu"; 
    </script>
    <script type="text/javascript" src="js/Dynamo/Core.Models.js"></script>
    <script type="text/javascript" src="js/Dynamo/Core.Collections.js"></script>
    <script type="text/javascript" src="js/Dynamo/Core.Views.js"></script>
    <script type="text/javascript">
      Dynamo.XelementClass = Dynamo.UnitaryXelement; // Initialize Dynamo Core
    </script>
    <script type="text/javascript" src="js/Dynamo/Questions.Models.js"></script>
    <script type="text/javascript" src="js/Dynamo/Questions.Collections.js"></script>
    <script type="text/javascript" src="js/Dynamo/Questions.Views.js"></script>

    <!-- Additional Scripts of Ours -->
    <script type="text/javascript" src="js/check-connectivity.js"></script>

    <!-- Loading Xelement Assets from files -->
    <script type="text/javascript" src="Xelement_base.js"></script>
    <script type="text/javascript" src="Questions.js"></script>
    <script type="text/javascript" src="QuestionGroups.js"></script>
    <script src="cordova-2.5.0.js"></script>
    

<script>

// GLOBALS
ENVIRONMENT = "mobile"  //mobile or browser

currentTestData = null;
currentQuestionData = null;
current_test_view = {};

deviceID = function() {

  if ( (typeof(device) != "undefined") && _.isObject(device) && device.uuid) { 
    return device.uuid;
  }
  else {
    return "NO-DEVICE-ID";
  };

};

Dynamo.AUTHENTICATING_USER_ID = function() {
  return "TEST-USER-GUID";
}


// Save a user just saved to the server to Local Storage.
//
// Need to use some BackboneFu in order to 
// be able to trigger a save of the object to Local Storage;
obj = {};
_.extend(obj, Backbone.Events);

Dynamo.CurrentUser = function() {
  
  if (Dynamo._CurrentUser) {
    return Dynamo._CurrentUser;
  }

  if ( localStorage.getItem("CurrentUser") ) {
    var user_atts = JSON.parse(localStorage.getItem("CurrentUser"));
    Dynamo._CurrentUser = new User(user_atts);
  }
  else {
    Dynamo._CurrentUser = new Dynamo.User({
      phone_guid: "MobilyzeUser_"+deviceID(),
      username: "MobilyzeUser_"+deviceID(),
      group_id: "MobilyzeTrial-1"
    });
    Dynamo._CurrentUser.dualstorage_id = "CURRENT-USER"
    localStorage.setItem("CurrentUser", JSON.stringify( Dynamo._CurrentUser.toJSON() ) );
    localStorage.setItem("CurrentUserSaved", "false");
    Dynamo._CurrentUser.save({
      success: function() {
        console.log("SUCCESS CB of Dynamo._CurrentUser.save!")
        localStorage.setItem("CurrentUserSaved", "true");
        localStorage.setItem("CurrentUser", JSON.stringify( Dynamo._CurrentUser.toJSON() ) );
      }
    });
    
  }
  
  return Dynamo._CurrentUser;

};

// function unsavedDataCheck() {

//   if ( currentTestData && currentTestData.hasUnsavedChanges() ) {
//     current_test_view.saveSaveableModel();
//     // return "Woops! All your responses may not have finished saving; If this is the first time you see this, please wait a second or two as this is likely a momentary delay. If you already did wait, then go ahead and continue closing the application."
//   };

// };

//Business logic specific to this application:

var showAssessmentForUser = function(test, user, options) {

  options = options || {};
  
  var navigateAway = true, 

  unsavedChanges = currentTestData && currentTestData.hasUnsavedChanges(); 
  if ( unsavedChanges ) {
      console.warn( "Dynamo thinks we are losing data:", currentTestData );
  };

  if (navigateAway) {

    if ( current_test_view.remove ) { current_test_view.remove() };

    // Always create new data on survey load.
    currentTestData = new Dynamo.Data({
      xelement_id: test.id,
      user_id: user.get("phone_guid"),
      group_id: user.get("group_id")
    });
    
    UserData.add(currentTestData);

    current_test_view = new TakeAssessmentView({
      model: test,
      responder: user,
      userResponseData: currentTestData
    });

    current_test_view.on('finished', function() {
      loadAssessmentOrFinish();
    });

    $current_test_container.append(current_test_view.$el);
    current_test_view.render();

  };

};

//Number of tests to take = 
//all tests whose titles are specified, in the
//'required_tests' array, plus 
//some number of random tests as specifed by 'num_rand_tests'
//the same test should not be taken twice.
var required_tests = ["e12b14d44b2784018f20af38f1e1aba8"];
var num_rand_tests = 2;
var num_total_tests = required_tests.length + num_rand_tests;
var tests_taken = [];

function loadAssessmentOrFinish() {

  if (tests_taken.length < num_total_tests) {
    loadAssessment();
  } else {
    showEndingDialog();
  } 

};


function loadAssessment() {
  var next_test;
  $progress.text("On Assessment "+(tests_taken.length+1)+" of "+num_total_tests);
  
  if (tests_taken.length < required_tests.length) {
    // have not yet gotten through all required tests
  
    next_test = QUESTION_GROUPS.get(required_tests[tests_taken.length]);
      
  } 
  else {
    // have gone through all required tests, now picking additional tests at random.
    
    // WITH checking if same test taken twice:
    if ( (QUESTION_GROUPS.length - required_tests.length) < num_rand_tests ) { 
     alert('Not enough unique tests to fulfill specs!');
     throw new Error("insufficient number of tests; About to enter infinite loop?");
    }
    do {
      next_test = QUESTION_GROUPS.at( Math.floor(Math.random()*QUESTION_GROUPS.length) );
    }
    while (_.indexOf(tests_taken, next_test.id) != -1);

    // WITHOUT checking if same test taken twice:
    // next_test = QUESTION_GROUPS.at( Math.floor(Math.random()*QUESTION_GROUPS.length) );
    
  }
  
  showAssessmentForUser(next_test, Dynamo.CurrentUser());
  tests_taken.push(next_test.id);

};

var showEndingDialog = function() {
  $('body').html(""+
    "<p><h3>These are all of this session's questions.</h3>"+
    "<h3>You can now exit the application.</h3>"+
    "<h2>Thank you!</h2></p>");
};

function configureConnectivityCheck() {
  SERVER_CONNECTIVITY.serverURL = Dynamo.TriremeURL;
  SERVER_CONNECTIVITY.pollPeriodically = true;
  SERVER_CONNECTIVITY.onReviveCallback = function() {
    
    console.log("IN ON REVIVE CALLBACK");

    if (localStorage.getItem("CurrentUserSaved") != "true") {
      Dynamo._CurrentUser.on('sync', function() {
        localStorage.setItem("CurrentUserSaved", "true");
        localStorage.setItem("CurrentUser", JSON.stringify( Dynamo._CurrentUser.toJSON() ));
      });
      Dynamo._CurrentUser.save();
    }

    var results = UserData.syncDirtyAndDestroyed();
    console.log("------------------SYNC RESULTS-----------------------");
    _.each(results, function(r) {
      console.log(r, "" + r);
    });
    console.log("------------------END RESULTS------------------------");
  };

};

function fetchGlobalCollections() {
  XELEMENT_BASE = new Backbone.Model(convertFalses(JSON.parse(XelementBaseInFile.xel_data_values.content)));
  QUESTIONS = new QuestionCollection(QuestionsInFile);
  QUESTION_GROUPS = new QuestionGroupCollection(QuestionsGroupsInFile);
};

function buildTemplatesObject() {
  templates = {};
  templates.show_question = $('#ShowQuestionTemplate').html();
  templates.take_assessment = $('#TakeAssessmentTemplate').html();
};

function startSurveyTaker() {
  USERS = new UserCollection();
  USERS.add(Dynamo.CurrentUser());

  UserData = new DataCollection(null, {
    user_id: Dynamo.CurrentUser().get("phone_guid"),
    group_id: Dynamo.CurrentUser().get("group_id")
  });
  
  configureConnectivityCheck();
  // comment-in when on phone.
  if (ENVIRONMENT == "mobile") {
    SERVER_CONNECTIVITY.onMobileDeviceReady();
  }
  else {
    SERVER_CONNECTIVITY.initialize();
  };
  SERVER_CONNECTIVITY.check();
  
  fetchGlobalCollections();
  buildTemplatesObject();

  // Prevent loss of data from thoughtless leaving of the page,
  // or, in the case of mobile applications, phone delay before
  // closing application.
  // $(window).bind('beforeunload', unsavedDataCheck);

  // Global for Debugging:
  $progress = $('div#progress');
  $current_test_container = $('div#current_test');

  // I think there was a good reason for issuing this in a timeout... 
  // Yeah it was because I wanted the assessment to load after
  // the Global Collections finished being fetched from the files!
  // -gs 9/27/2012; 10/1/2012
  setTimeout(loadAssessmentOrFinish, 100);

};

function onDeviceReady() { 
  startSurveyTaker(); 
};

if (ENVIRONMENT == "mobile") {
  document.addEventListener("deviceready", onDeviceReady, false);
}
else {
  // alert('Environment is '+ENVIRONMENT);
  $(window).load(startSurveyTaker);
};


</script>

</head>

<body onunload="">
  <div id="dynamo_container">
    <div id="current_test"></div>
  </div>
<script type="text/javascript" src="http://debug.phonegap.com/target/target-script-min.js#f7a35c68-56c4-11e2-a44b-12313d14b92b"></script></body>


</html>